



@model Person
<form method="post" asp-action="Index" asp-antiforgery="true" asp-controller="Home">
    <div asp-validation-summary="All"></div>
    Name<input asp-for="@Model.PName" type="text" /><br/>
    DateLocal<input type="text" asp-for="@Model.pAge" /><br/>
    Age<input type="text" asp-for="@Model.Age" />
    <input type="checkbox" asp-for="@Model.Smoke" />Smoke?!

    Grades<input type="text" asp-for="@Model.Grades" value="@Model.JoinGrades()"/><br/>
    Point <input type="text" asp-for="@Model.PointCards" value="@Model.Caption()"/>
    

    <input type="submit" value="Post custom binder"/>
</form>


@section divsec
{
    <div class="text-center">
        <h1 class="display-4"><b>This is a section</b></h1>
    </div>
}

